<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= _.startCase(name.slice(4)) %> Component</title>
    <link rel="stylesheet" href="https://cdn.brand.illinois.edu/illinois.css">
    <link rel="stylesheet" href="https://dev.toolkit.illinois.edu/ilw-global/3.0.0-alpha/ilw-global.css">
    <script type="module" src="/src/<%= name %>.js"></script>
</head>

<body style="margin: 0; padding: 0;">
<<%= name %>></<%= name %>>
</body>

</html>
